:host {
    display: flex;
    flex-direction: column;
}

.slds-accordion__section {
    padding-bottom: 1.5rem;
}

div[data-foldable="true"][data-folded="true"] {
    max-height: 160px;
    overflow: hidden;
}

div[data-foldable="true"][data-folded="false"] {
    max-height: initial;
    overflow: visible;
}

.show-more {
    cursor: pointer;
}