:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slds-p-around_medium{
    background-color: #003357 !important;
    border: 0;
    padding: 0;
    margin: 1rem;

}

.chevron {
    color: #fff;
}